.header {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    border-radius: 15px;
    width: 70%;
    border-bottom: 1px solid red;

}
.header > * {
    margin-right :30px;
}

body{
    width: 100%;
    height: 100vh;

}

.profileimg {
    border-radius: 50%;

}


