.Skills {
    display: flex;
    border-bottom :4px solid red;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.techlist {
    display:flex ;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;
}

.techlist > * {
    margin: 15px;
    font-size: medium;
    font-weight: bold;
}

.heading{
    font-family: 'Times New Roman', Times, serif;
}